
    <div>
        <h3 class="ui header">Goal Title</h3>

        <input placeholder="name" type="text" name="name">
    </div>

    <div class="field">
        <label>Deadline Date</label>
        <input type="date" name="date" value="date" required="required">
    </div>

    <div class="field">
        <label>Description</label>
        <input type="text" name="description" >
    </div>
    <div class="field">
        <label>Target</label>

        <label for="item1">Weight</label>

        <input type="radio" name="target" id="item1" value="weight">
        <br/>
        <label for="item2">Waist</label>

        <input type="radio" name="target" id="item2" value="waist" checked>
        <br/>


        <input placeholder="00 kg/cm" type="text" name="targetInt" >

    </div>
    </div>
    <button class="ui blue submit button"> Add Goal </button>