<div class="ui relaxed divided list">
  #{list items:_gymclasses, as:'gymclass'}
      <div class="item">
          <i class="large thumbs outline up middle aligned icon"></i>
          <div class="content">
              <div class="header">
                  <a href="/trainerdashboard/gymclassdetails/${gymclass.id}"> ${gymclass.name} </a>
                  <a href="/trainerdashboard/deletegymclass/${gymclass.id}">
                      <i class="ui large red icon trash"></i>
                  </a>
              </div>

          </div>

      </div>
  #{/list}
</div>