<h3 class="ui header">${goal.name} #{if (goal.achieved == true)}
    <i class="icon large green check square"></i>Achieved
#{/if}</h3></h3>
<div class="two fields">
    <div class="field">
        <input type="text" type="text" name="goal1.name" value="${goal.name}">
    </div>
    <div class="field">
        <label>Deadline Date: ${goal.date}</label>
        <input type="date" name="goal1.date" value="${goal.date}">
    </div>


</div>
<div class="two fields">
    <label>Target</label>
    <div class="field">
        <input  type="text" name="goal1.target" value="${goal.target}">
    </div>
    <div class="field">
        <input type="text" name="goal1.targetInt" value="${goal.targetInt}">
    </div>
</div>
<div class="field">
    <label>Description</label>
    <input type="text" type="text" name="goal1.description" value="${goal.description}">
</div>

<button class="ui blue submit button">Save</button>